<%= form_for(@volunteer) do |f| %>
  <% if @volunteer.errors.any? %>
    <div class="alert alert-danger" role="alert">
      <strong><%= pluralize(@volunteer.errors.count, "error") %> prohibited this volunteer from being saved:</strong>

      <ul>
      <% @volunteer.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-group">
    <%= f.label :name %>
    <%= f.text_field :name, :class => "form-control col-sm-4" %>
  </div>
  <div class="form-group">
    <%= f.label :email %>
    <%= f.email_field :email, :class => "form-control col-sm-4" %>
  </div>
  <div class="form-group">
    <%= f.label :grade %>
    <%= f.text_field :grade, :class => "form-control col-sm-4" %>
  </div>
  <div class="form-group">
    <%= f.label :pupil %>
    <%= f.text_field :pupil, :class => "form-control col-sm-4" %>
  </div>
  <div class="form-group">
    <%= f.submit 'Save' , :class => "btn btn-primary" %>
  </div>
<% end %>
