<%= render :partial => 'application/menu' %>

<br/>

<div class="row">
  <div class="col">

    <div class="row">
      <div class="col-sm-6">
        <h1 class="h3">Tasks</h1>
      </div>
      <div class="col-sm-6">
        <%= link_to 'New Task', new_task_path, :class => 'btn btn-primary float-right' %>
      </div>
    </div>

    <br/>

    <div class="table-responsive">
      <table class="table table-hover">
        <thead class="thead-light">
          <tr>
            <th scope="col">Name</th>
            <th scope="col">Sorting</th>
            <th scope="col">Actions</th>
          </tr>
        </thead>

        <tbody>
          <% @tasks.each do |task| %>
            <tr>
              <td><%= task.name %></td>
              <td><%= task.sorting %></td>
              <td>
                <%= link_to 'Edit', edit_task_path(task), :class => 'btn btn-primary' %>
                <%= link_to 'Destroy', task, :confirm => 'Are you sure?', :method => :delete, :class => 'btn btn-light' %>
              </td>
            </tr>
          <% end %>
        </tbody>
      </table>
    </div><!-- .table-responsive -->
  </div><!-- .col -->
</div><!-- .row -->

<%= render :partial => 'application/confirm_delete' %>