<%= render :partial => 'application/menu' %>

<br/>

<div class="row">
  <div class="col">

    <div class="row">
      <div class="col-sm-6">
        <h1 class="h3">Volunteers</h1>
      </div>
      <div class="col-sm-6">
        <%= link_to 'Purge everything', opkuis_applications_path, :confirm => 'Are you sure?', :method => :delete, :class => 'btn  btn-danger float-right' %>
      </div>
    </div>

    <%= @result %>

    <div class="card">
      <div class="card-body">
        <%= form_with url: applications_path, method: "get", :class => "row" do |form| %>
          <div class="col-sm-3">
            <%= form.select "timeslot", options_from_collection_for_select(Timeslot.all, "id", "name",params[:timeslot]), { :include_blank => true }, { :class => "form-control"} %>
          </div>
          <div class="col-sm-3">
            <%= form.select "postje", options_from_collection_for_select(Postje.all, "id", "name",params[:postje]),  { :include_blank => true }, { :class => "form-control"} %>
          </div>
          <div class="col-sm-3">
            <%= form.text_field "search", value: params[:search], :class => "form-control" %>
          </div>
          <div class="col-sm-3">
            <%= form.submit 'Filter', :class=>"btn btn-primary" %>
            <%= link_to 'Reset', applications_path, :method => :get, :class => 'btn  btn-link float-right' %>
          </div>
        <% end %>
      </div>
    </div>

    <hr/>

    <div class="table-responsive">
      <table class="table table-hover">
        <thead class="thead-light">
          <tr>
            <th scope="col">Job</th>
            <th scope="col">Timeslot</th>
            <th scope="col">Name</th>
            <th scope="col">E-mail</th>
            <th scope="col">Kid's name</th>
            <th scope="col">Kid's class</th>
            <th scope="col">Actions</th>
          </tr>
        </thead>

        <tbody>
          <% @applications.each do |app| %>
            <tr>
              <td><%= app.postje.try(:name) %></td>
              <td><%= app.timeslot.try(:name) %></td>
              <td><%= app.volunteer.try(:name) %> <%= link_to "Edit", { controller: "volunteers", action: "edit", id: app.volunteer.id}, {:class => 'btn btn-light btn-sm'} %></td>
              <td><%= mail_to app.volunteer.try(:email) %></td>
              <td><%= app.volunteer.try(:leerling) %></td>
              <td><%= app.volunteer.try(:klas) %></td>
              <td><%= link_to 'Edit', { controller: "applications", action: "edit", id: app.id}, :class => 'btn btn-primary' %> <%= link_to 'Destroy', app, :confirm => 'Are you sure?', :method => :delete, :class => 'btn btn-light' %></td>
            </tr>
          <% end %>
        </tbody>
      </table>
    </div><!-- .table-responsive -->
  </div><!-- .col -->
</div><!-- .row -->

<%= render :partial => 'application/confirm_delete' %>