<%= render :partial => 'application/menu' %>

<h1>Listing "job" applications</h1>

<%= link_to 'Allemaal opkuisen in ene keer', opkuis_applications_path, :confirm => 'Are you sure?', :method => :delete %>

<table>
  <tr>
    <th>postje</th>
    <th>uur</th>
    <th>naam</th>
    <th>email</th>
    <th>leerling</th>
    <th>klas</th>
    <th></th>
  </tr>

<% @applications.each do |app| %>
  <tr>
    <td><%= app.postje.try(:name) %></td>
    <td><%= app.timeslot.try(:name) %></td>
    <td><%= app.volunteer.try(:name) %></td>
    <td><%= app.volunteer.try(:email) %></td>
    <td><%= app.volunteer.try(:leerling) %></td>
    <td><%= app.volunteer.try(:klas) %></td>
    <td><%= link_to 'Destroy', app, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

