<%= render :partial => 'application/menu' %>

<h1>Settings</h1>
<p id="notice"><%= notice %></p>



<%= form_for(Setting.new, url: settings_path) do |f| %>
  <div class="form-group">
    <label class="control-label">Naam</label>
    <%= f.text_field :event_name, value: Setting.event_name, class: "form-control"  %>
  </div>

  <div class="form-group">
    <label class="control-label">Datum</label>
    <%= f.text_field :event_date, value: Setting.event_date, class: "form-control"  %>
  </div>

  <div class="form-group">
    <label class="control-label">Uren</label>
    <%= f.text_field :event_hours, value: Setting.event_hours, class: "form-control"  %>
  </div>

  <div class="form-group">
    <label class="control-label">Beschrijving</label>
    <%= f.text_field :event_desc, value: Setting.event_desc, class: "form-control"  %>
  </div>

   <%= submit_tag 'Opslaan' %>




<% end %>