<%= form_for(@postje) do |f| %>
  <% if @postje.errors.any? %>
    <div class="alert alert-danger" role="alert">
      <strong><%= pluralize(@postje.errors.count, "error") %> prohibited this postje from being saved:</strong>

      <ul>
      <% @postje.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-group">
    <%= f.label :name %>
    <%= f.text_field :name, :class => "form-control col-sm-4" %>
  </div>
  <div class="form-group">
    <%= f.label :sorting %>
    <%= f.number_field :sorting, :class => "form-control col-sm-2" %>
  </div>
  <div class="form-group">
    <%= f.submit 'Save' , :class => "btn btn-primary" %>
  </div>
<% end %>
