<ul id="menu">
  <li><%= link_to 'schedule', root_path %></li>
  <li><%= link_to 'postjes', postjes_path %></li>
  <li><%= link_to 'timeslots', timeslots_path %></li>
  <li><%= link_to 'andere config', settings_path %></li>
  <li><%= link_to 'opkuis', applications_path %></li>
</ul>
<br>