<%= render :partial => 'application/menu' %>

<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @timeslot.name %>
</p>
<p>
  <b>Order:</b>
  <%= @timeslot.order %>
</p>


<%= link_to 'Edit', edit_timeslot_path(@timeslot) %> |
<%= link_to 'Back', timeslots_path %>
